<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
        <img src="../../../assets/pinterest.svg" width="25" height="25" alt="" loading="lazy">
    </a>
    <div class="start-box font-weight-bold" (click)="reset()">
      <p class="start-nav">Inicio</p>
    </div>
    <div class="form-inline container1">
        <span class="icon"><i class="fas fa-search"></i></span>
        <input class="form-control input" (keyup.enter)="getValue($event)" placeholder="Buscar" aria-label="Search">
    </div>
  </nav>