<div>
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content img">
        <div class="modal-body row">
          <div class="col-6 media">
            <img [src]="dataPhoto.urls.small" class="card-img-top img align-self-center" alt="...">
          </div>
          <div class="col-6">
              <div class="mb-4 mr-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="mb-4">
                <h3 class="font-weight-bold text-center">{{ dataPhoto.description}}</h3>
              </div>
              <div class="row pb-2">
                <div class="col">
                  <p> <i class="fas fa-heart"></i>
                  {{dataPhoto.likes}}</p>
                </div>
                <div class="col">
                  <p> <i class="fas fa-eye"></i>
                      {{dataPhoto.views}}</p>
                </div>
                <div class="col">
                  <p> <i class="fas fa-cloud-download-alt"></i>
                      {{dataPhoto.downloads}}</p>
                </div>
              </div>
              <div>
                <a [href]="dataPhoto.links.download" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-download"></i> Descargar imagen
                </a>
              </div>
              <br>
              <br>
              <br>
              <div class="footer">
                <p>Subido por
                  <img [src]="dataPhoto.user.profile_image.small" class="rounded-circle" alt="...">
                    {{dataPhoto.user.name}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
